@{
    ViewData["Title"] = "Home Page";
}

<div class="home-page-container">
    <div class="home-tab home-tab--light">
        <div class="tab-header">LISTA PRODUKTÓW</div>
        <input id="search-input" placeholder="Wyszukaj..."/>
        <div id="productList"></div>
    </div>
    <div class="home-tab home-tab--green">
        <div class="tab-header">TWÓJ KOSZYK</div>
        <div id="shopping-card">
        </div>
    </div>
</div>

<div>
</div>


<script>

    $(document).ready(() => {
        search('');
        getShoppingCard();
    });

    $('#search-input').on('keyup', delaySearch);

    var delayTimer;
    function delaySearch(e) {
        clearTimeout(delayTimer);
        delayTimer = setTimeout(() => {
            search(e.target.value);
        }, 1000);
    }

    function search(searchPhrase) {
        $.ajax({
            url: `/home/productlist?searchPhrase=${searchPhrase}`,
            dataType: 'html',
            success: function (data) {
                $('#productList').html(data);
            }
        });
    }

    function getShoppingCard() {
        $.ajax({
            url: `/home/shoppingCard`,
            dataType: 'html',
            success: function (data) {
                $('#shopping-card').html(data);
            }
        });
    }
</script>