@model Zebra.ViewModels.ShoppingCardVM

<div>
    @foreach (var product in Model.Products)
    {
        <div class="shopping-card__row">
            <div class="shopping-card__name">@product.Name</div>
            <div>@product.Count</div>
        </div>
    }
</div>
